# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Go binary
backend/nexusmind-backend.exe
backend/nexusmind-backend
backend/.env

# Database
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
venv/
__pycache__/
*.pyc
.env
backend/nul.exe
nul.exe